@font-face {
    font-family: 'iransans';
    src: url('./../src/assets/fonts/iransans/IRANSansWeb_UltraLight.eot');
    src: url('./../src/assets/fonts/iransans/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
            url('./../src/assets/fonts/iransans/IRANSansWeb_UltraLight.woff2') format('woff2'),
            url('./../src/assets/fonts/iransans/IRANSansWeb_UltraLight.woff') format('woff'),
            url('./../src/assets/fonts/iransans/IRANSansWeb_UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'iransans';
    src: url('./../src/assets/fonts/iransans/IRANSansWeb_Light.eot');
    src: url('./../src/assets/fonts/iransans/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
            url('./../src/assets/fonts/iransans/IRANSansWeb_Light.woff2') format('woff2'),
            url('./../src/assets/fonts/iransans/IRANSansWeb_Light.woff') format('woff'),
            url('./../src/assets/fonts/iransans/IRANSansWeb_Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'iransans';
    src: url('./../src/assets/fonts/iransans/IRANSansWeb.eot');
    src: url('./../src/assets/fonts/iransans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
            url('./../src/assets/fonts/iransans/IRANSansWeb.woff2') format('woff2'),
            url('./../src/assets/fonts/iransans/IRANSansWeb.woff') format('woff'),
            url('./../src/assets/fonts/iransans/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iransans';
    src: url('./../src/assets/fonts/iransans/IRANSansWeb_Medium.eot');
    src: url('./../src/assets/fonts/iransans/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
            url('./../src/assets/fonts/iransans/IRANSansWeb_Medium.woff2') format('woff2'),
            url('./../src/assets/fonts/iransans/IRANSansWeb_Medium.woff') format('woff'),
            url('./../src/assets/fonts/iransans/IRANSansWeb_Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'iransans';
    src: url('./../src/assets/fonts/iransans/IRANSansWeb_Bold.eot');
    src: url('./../src/assets/fonts/iransans/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
            url('./../src/assets/fonts/iransans/IRANSansWeb_Bold.woff2') format('woff2'),
            url('./../src/assets/fonts/iransans/IRANSansWeb_Bold.woff') format('woff'),
            url('./../src/assets/fonts/iransans/IRANSansWeb_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}